.header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  border: 1px solid black;
  margin-bottom: 2rem;
}

.nav-items {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
}

.nav-items > li {
  list-style-type: none;
  margin-left: 1rem;
}

.nav-items > li > a {
  text-decoration: none;
  color: black;
}

.demo-container {
  width: 50rem;
  height: 30rem;
  border: 1px solid black;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.light-theme {
  background-color: azure;
  color: black;
}

.dark-theme {
  background-color: rgb(95, 92, 92);
  color: white;
}
